# MTHM503J Week 1 traffic accidents problems

### Set up

Download and unzip the csv file “Road Safety Data - Accidents 2019” from
the module ELE page.

In [4]:
import pandas as pd
    import numpy as np
    import matplotlib.pyplot as plot

df = pd.read_csv("accidents2019.csv")

C:\Users\AndreMota\AppData\Local\Temp\ipykernel_21372\4230998652.py:5: DtypeWarning: Columns (0,31) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("accidents2019.csv")

**Read the csv file into a pandas DataFrame named accidents using the
function pd.read_csv (consult the help page for that function to see what
options there are.)**

In [8]:
df.shape

(117536, 32)

In [9]:
df.head()

,Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,...,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location
0,2019010128300,528218.0,180407.0,-0.153842,51.508057,1,3,2,3,18/02/2019,...,0,5,1,1,1,0,0,1,3,E01004762
1,2019010152270,530219.0,172463.0,-0.127949,51.436208,1,3,2,1,15/01/2019,...,-1,-1,4,1,1,0,0,1,3,E01003117
2,2019010155191,530222.0,182543.0,-0.124193,51.526795,1,3,2,1,01/01/2019,...,0,0,4,1,1,0,0,1,1,E01000943
3,2019010155192,525531.0,184605.0,-0.191044,51.546387,1,2,1,1,01/01/2019,...,0,0,4,1,1,0,0,1,1,E01000973
4,2019010155194,524920.0,184004.0,-0.200064,51.541121,1,3,2,2,01/01/2019,...,0,0,4,1,1,0,0,1,1,E01000546

### Warm-up problems

In [10]:
df.iloc[0,:]  #iloc - index location and the : is all elements

Accident_Index                                 2019010128300
Location_Easting_OSGR                               528218.0
Location_Northing_OSGR                              180407.0
Longitude                                          -0.153842
Latitude                                           51.508057
Police_Force                                               1
Accident_Severity                                          3
Number_of_Vehicles                                         2
Number_of_Casualties                                       3
Date                                              18/02/2019
Day_of_Week                                                2
Time                                                   17:50
Local_Authority_(District)                                 1
Local_Authority_(Highway)                          E09000033
1st_Road_Class                                             3
1st_Road_Number                                         4202
Road_Type                                                  1
Speed_limit                                               30
Junction_Detail                                            1
Junction_Control                                           2
2nd_Road_Class                                             3
2nd_Road_Number                                         4202
Pedestrian_Crossing-Human_Control                          0
Pedestrian_Crossing-Physical_Facilities                    5
Light_Conditions                                           1
Weather_Conditions                                         1
Road_Surface_Conditions                                    1
Special_Conditions_at_Site                                 0
Carriageway_Hazards                                        0
Urban_or_Rural_Area                                        1
Did_Police_Officer_Attend_Scene_of_Accident                3
LSOA_of_Accident_Location                          E01004762
Name: 0, dtype: object

**How many rows and columns does `accidents` have?**

**Create a new data frame locations that only consists of the `Latitude` and
`Longitude` column of `accidents`.**

In [11]:
colsToKeep = ["Latitude", "Longitude"]
df[colsToKeep]

         Latitude  Longitude
0       51.508057  -0.153842
1       51.436208  -0.127949
2       51.526795  -0.124193
3       51.546387  -0.191044
4       51.541121  -0.200064
...           ...        ...
117531  55.047323  -3.368899
117532  55.215407  -2.983499
117533  54.991685  -3.274645
117534  55.148292  -2.997491
117535  55.357237  -3.715064

[117536 rows x 2 columns]

**Transform the `Date` column to the data type `datetime`. Be careful to check that the dates have been parsed correctly (which depends on the format of the date in the raw dataset).**

In [20]:
df["Date"]

0        2019-02-18
1        2019-01-15
2        2019-01-01
3        2019-01-01
4        2019-01-01
            ...
117531   2019-05-18
117532   2019-05-30
117533   2019-06-21
117534   2019-06-29
117535   2019-04-21
Name: Date, Length: 117536, dtype: datetime64[ns]

In [19]:
df["Date"] = pd.to_datetime(df["Date"], format="%d/%m/%Y")

**Permanently remove the columns `Accident_Index`, `Location_Easting_OSGR`, `Location_Northing_OSGR` from `accidents`.**

In [21]:
colsToRemove = ["Accident_Index", "Location_Easting_OSGR", "Location_Northing_OSGR"]

In [22]:
df_removed = df.drop(colsToRemove, axis=1)

##or
##df.drop(colsToRemove, axis=1, inplace=True)
##some functions happen in place and others don't
## this one is that doesn't by default

,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,Day_of_Week,Time,Local_Authority_(District),...,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location
0,-0.153842,51.508057,1,3,2,3,2019-02-18,2,17:50,1,...,0,5,1,1,1,0,0,1,3,E01004762
1,-0.127949,51.436208,1,3,2,1,2019-01-15,3,21:45,9,...,-1,-1,4,1,1,0,0,1,3,E01003117
2,-0.124193,51.526795,1,3,2,1,2019-01-01,3,01:50,2,...,0,0,4,1,1,0,0,1,1,E01000943
3,-0.191044,51.546387,1,2,1,1,2019-01-01,3,01:20,2,...,0,0,4,1,1,0,0,1,1,E01000973
4,-0.200064,51.541121,1,3,2,2,2019-01-01,3,00:40,28,...,0,0,4,1,1,0,0,1,1,E01000546
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117531,-3.368899,55.047323,98,3,1,1,2019-05-18,7,01:00,917,...,0,0,1,1,2,0,0,2,1,NaN
117532,-2.983499,55.215407,98,3,4,1,2019-05-30,5,08:46,917,...,0,0,1,1,2,0,0,2,1,NaN
117533,-3.274645,54.991685,98,3,2,1,2019-06-21,6,15:30,917,...,0,0,1,1,1,0,0,2,2,NaN
117534,-2.997491,55.148292,98,3,1,1,2019-06-29,7,14:10,917,...,0,0,1,1,1,0,0,2,2,NaN
117535,-3.715064,55.357237,98,2,1,1,2019-04-21,1,12:45,917,...,0,0,1,1,1,0,0,2,1,NaN

**Reorder the rows of the data frame by increasing Date and Time.**

In [27]:
df.sort_values(["Date" ,"Time"], inplace=True)

df.head()

,Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,...,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location
65479,2019320634369,521429.0,321970.0,-0.201080,52.781682,32,2,2,1,2019-01-01,...,0,0,6,1,1,0,0,1,1,E01026262
14,2019010155220,527068.0,179060.0,-0.170889,51.496210,1,3,3,1,2019-01-01,...,0,0,4,1,1,0,0,1,1,E01002821
68172,2019350810982,546094.0,310917.0,0.159444,52.676285,35,3,2,1,2019-01-01,...,0,0,4,1,1,0,0,1,1,E01018108
58629,2019230353185,441395.0,290046.0,-1.391543,52.506762,23,2,1,1,2019-01-01,...,0,0,6,1,1,0,0,2,1,E01031182
34803,2019070000684,375062.0,384963.0,-2.376181,53.360964,7,2,1,1,2019-01-01,...,0,0,6,1,1,0,0,2,1,E01018648

**Add an `index` column with increasing integer values 1,2,3,...**

In [28]:
df["index"] = range(1, len(df) +1)

In [29]:
df["index"]

65479          1
14             2
68172          3
58629          4
34803          5
           ...
117423    117532
24824     117533
79062     117534
24822     117535
55182     117536
Name: index, Length: 117536, dtype: int64

### Advanced problems

**Add a column `hour` with values 0,1,2,. . . ,23 corresponding to the time of day.**

In [33]:
df["Time"] = pd.to_datetime(df["Time"], format="%H:%M")

In [36]:
df["hour"] = df["Time"][:5].dt.hour

**Add a column `weekend` which is `True` for accidents that happened on the weekend, and `False` otherwise.**

In [39]:
##df["Date"].dt.weekday shows the number of the week in integer
## form 1 to 7 which is not has useful
df["dayOfWeek"] = df["Date"].dt.strftime('%A')
df["isWeekend"] = df["dayOfWeek"].isin(["Saturday", "Sunday"])

**Create a new data frame with columns `Date` (in format ‘YYYY-MM-DD’), `Accidents` (total number of accidents per day) and `Casualties` (total number of casualties per day).**

In [ ]:
dfSmall = df[]

**Verify that Casualties is always greater than or equal to Accidents.**

**Create a time series plot showing the number of accidents per day.**

**Summarise and plot the number of accidents for each weekday.**

**What was the day of the week of the 10 days with the highest number of casualties?**