In [87]:
#Exercise A. Traffic accidents in Python [60 marks]

import numpy as np

import pandas as pd

In [21]:
## Exercise A (1.i)

##loading the data set ##the FQPN/FQFN does not work but string is too long and jyputer notebook cannot read it
auxName = 'datasets-20221221/accidents2019.csv'
dataFrame = pd.read_csv(auxName)

##showing the first 2 lines of the data frame

dataFrame.head(n=2)

C:\Users\AndreMota\AppData\Local\Temp\ipykernel_16860\2600587694.py:5: DtypeWarning: Columns (0,31) have mixed types. Specify dtype option on import or set low_memory=False.
  dataFrame = pd.read_csv(auxName)

,Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,...,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location
0,2019010128300,528218.0,180407.0,-0.153842,51.508057,1,3,2,3,18/02/2019,...,0,5,1,1,1,0,0,1,3,E01004762
1,2019010152270,530219.0,172463.0,-0.127949,51.436208,1,3,2,1,15/01/2019,...,-1,-1,4,1,1,0,0,1,3,E01003117

In [29]:
## Exercise A (1.ii)

## to see the number of accients reported it is a simple matter of counting the number of rows (occurences) in the data frame

dataFrame.count  

## as we can see from the output it is a [117536 rows x 32 columns] data frame meaning we have 117536 accidents

<bound method DataFrame.count of        Accident_Index  Location_Easting_OSGR  Location_Northing_OSGR  \
0       2019010128300               528218.0                180407.0
1       2019010152270               530219.0                172463.0
2       2019010155191               530222.0                182543.0
3       2019010155192               525531.0                184605.0
4       2019010155194               524920.0                184004.0
...               ...                    ...                     ...
117531  2019984106919               312635.0                573392.0
117532  2019984107019               337522.0                591682.0
117533  2019984107219               318544.0                567087.0
117534  2019984107419               336525.0                584226.0
117535  201998QC01004               291367.0                608364.0

        Longitude   Latitude  Police_Force  Accident_Severity  \
0       -0.153842  51.508057             1                  3
1       -0.127949  51.436208             1                  3
2       -0.124193  51.526795             1                  3
3       -0.191044  51.546387             1                  2
4       -0.200064  51.541121             1                  3
...           ...        ...           ...                ...
117531  -3.368899  55.047323            98                  3
117532  -2.983499  55.215407            98                  3
117533  -3.274645  54.991685            98                  3
117534  -2.997491  55.148292            98                  3
117535  -3.715064  55.357237            98                  2

        Number_of_Vehicles  Number_of_Casualties        Date  ...  \
0                        2                     3  18/02/2019  ...
1                        2                     1  15/01/2019  ...
2                        2                     1  01/01/2019  ...
3                        1                     1  01/01/2019  ...
4                        2                     2  01/01/2019  ...
...                    ...                   ...         ...  ...
117531                   1                     1  18/05/2019  ...
117532                   4                     1  30/05/2019  ...
117533                   2                     1  21/06/2019  ...
117534                   1                     1  29/06/2019  ...
117535                   1                     1  21/04/2019  ...

        Pedestrian_Crossing-Human_Control  \
0                                       0
1                                      -1
2                                       0
3                                       0
4                                       0
...                                   ...
117531                                  0
117532                                  0
117533                                  0
117534                                  0
117535                                  0

       Pedestrian_Crossing-Physical_Facilities  Light_Conditions  \
0                                            5                 1
1                                           -1                 4
2                                            0                 4
3                                            0                 4
4                                            0                 4
...                                        ...               ...
117531                                       0                 1
117532                                       0                 1
117533                                       0                 1
117534                                       0                 1
117535                                       0                 1

       Weather_Conditions  Road_Surface_Conditions  \
0                       1                        1
1                       1                        1
2                       1                        1
3                       1                        1
4                       1                        1
...                   ...                      ...
117531                  1                        2
117532                  1                        2
117533                  1                        1
117534                  1                        1
117535                  1                        1

        Special_Conditions_at_Site  Carriageway_Hazards  Urban_or_Rural_Area  \
0                                0                    0                    1
1                                0                    0                    1
2                                0                    0                    1
3                                0                    0                    1
4                                0                    0                    1
...                            ...                  ...                  ...
117531                           0                    0                    2
117532                           0                    0                    2
117533                           0                    0                    2
117534                           0                    0                    2
117535                           0                    0                    2

        Did_Police_Officer_Attend_Scene_of_Accident  LSOA_of_Accident_Location
0                                                 3                  E01004762
1                                                 3                  E01003117
2                                                 1                  E01000943
3                                                 1                  E01000973
4                                                 1                  E01000546
...                                             ...                        ...
117531                                            1                        NaN
117532                                            1                        NaN
117533                                            2                        NaN
117534                                            2                        NaN
117535                                            1                        NaN

[117536 rows x 32 columns]>

In [31]:
##but to double  check we can see the count of accident indexes

dataFrame.count()

## as we can see the 117536 checks out

Accident_Index                                 117536
Location_Easting_OSGR                          117508
Location_Northing_OSGR                         117508
Longitude                                      117508
Latitude                                       117508
Police_Force                                   117536
Accident_Severity                              117536
Number_of_Vehicles                             117536
Number_of_Casualties                           117536
Date                                           117536
Day_of_Week                                    117536
Time                                           117473
Local_Authority_(District)                     117536
Local_Authority_(Highway)                      117536
1st_Road_Class                                 117536
1st_Road_Number                                117536
Road_Type                                      117536
Speed_limit                                    117536
Junction_Detail                                117536
Junction_Control                               117536
2nd_Road_Class                                 117536
2nd_Road_Number                                117536
Pedestrian_Crossing-Human_Control              117536
Pedestrian_Crossing-Physical_Facilities        117536
Light_Conditions                               117536
Weather_Conditions                             117536
Road_Surface_Conditions                        117536
Special_Conditions_at_Site                     117536
Carriageway_Hazards                            117536
Urban_or_Rural_Area                            117536
Did_Police_Officer_Attend_Scene_of_Accident    117536
LSOA_of_Accident_Location                      111822
dtype: int64

In [39]:
## Exercise A (1.iii)

## we can easily obtain an array with all the collum names but this is a bit messy to properly read so lets tidy up the output
dataFrame.columns

Index(['Accident_Index', 'Location_Easting_OSGR', 'Location_Northing_OSGR',
       'Longitude', 'Latitude', 'Police_Force', 'Accident_Severity',
       'Number_of_Vehicles', 'Number_of_Casualties', 'Date', 'Day_of_Week',
       'Time', 'Local_Authority_(District)', 'Local_Authority_(Highway)',
       '1st_Road_Class', '1st_Road_Number', 'Road_Type', 'Speed_limit',
       'Junction_Detail', 'Junction_Control', '2nd_Road_Class',
       '2nd_Road_Number', 'Pedestrian_Crossing-Human_Control',
       'Pedestrian_Crossing-Physical_Facilities', 'Light_Conditions',
       'Weather_Conditions', 'Road_Surface_Conditions',
       'Special_Conditions_at_Site', 'Carriageway_Hazards',
       'Urban_or_Rural_Area', 'Did_Police_Officer_Attend_Scene_of_Accident',
       'LSOA_of_Accident_Location'],
      dtype='object')

In [37]:
## using an auxiliary for loop we can get a cleaner output of all the collum names in a tidy and spaced manner

for col in dataFrame.columns:
    print(col)

Accident_Index
Location_Easting_OSGR
Location_Northing_OSGR
Longitude
Latitude
Police_Force
Accident_Severity
Number_of_Vehicles
Number_of_Casualties
Date
Day_of_Week
Time
Local_Authority_(District)
Local_Authority_(Highway)
1st_Road_Class
1st_Road_Number
Road_Type
Speed_limit
Junction_Detail
Junction_Control
2nd_Road_Class
2nd_Road_Number
Pedestrian_Crossing-Human_Control
Pedestrian_Crossing-Physical_Facilities
Light_Conditions
Weather_Conditions
Road_Surface_Conditions
Special_Conditions_at_Site
Carriageway_Hazards
Urban_or_Rural_Area
Did_Police_Officer_Attend_Scene_of_Accident
LSOA_of_Accident_Location

In [76]:
## Exercise A (1.iv)

## remember that because in python arrays start in 0 (as its parent language C) the the 100th row has the index 99
row100DataFrame = dataFrame.iloc[99]

## now that we got the information just have to parse it to obtain only the date and cordinates 
## ('Date', 'Longitude', 'Latitude')

auxDate = row100DataFrame['Date']
auxLongitude = row100DataFrame['Longitude']
auxLatitude = row100DataFrame['Latitude']

## just do a separation of the print of the string and variable for latitude and longitude since these aren't string variables 
## and it is much simpler and easier to read than converting their format to string
print("The date of the 100th accident is: " + auxDate)
print("The latitude of the 100th accident is: " , end ="")
print(auxLatitude)
print("The longitude cordinates of the 100th accident is:" , end =" ")
print(auxLongitude)

The date of the 100th accident is: 03/01/2019
The latitude of the 100th accident is: 51.498486
The longitude cordinates of the 100th accident is: -0.264403

In [92]:
## Exercise A (1.v)

##first I will create a new collum with just the month since this data frame only contains accidents from 2019 and we don't need
## to diferenciate between years with the same month
## we can also easily observe that the date is organised in %dd/%mm/%YYYY format, so we are going to parse it like we would,
## using cut -f on linux

dataFrame['Month'] = np.nan

i = 0
for i in range(len(dataFrame)):
    
    auxString = dataFrame['Date'][i]
    
    ##leaving these year and day variables commented to better explain why month is the split [1]
    #auxDay = str(auxString).split("/")[0]
    #auxYear = str(auxString).split("/")[2]

    ## we store which month each accident is
    auxMonth = str(auxString).split("/")[1]

    ## we aggregate such month to the data frame to be able to easily group by the month
    dataFrame['Month'][i] = auxMonth
        
    i = i +1

C:\Users\AndreMota\AppData\Local\Temp\ipykernel_16860\1807776372.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataFrame['Month'][i] = auxMonth

In [97]:
## by grouping by we can now see all the accidents for each month by seeing the accident_index count
dataFrame.groupby(['Month']).count()

,Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,...,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location
Month,,,,,,,,,,,,,,,,,,,,,
01,9371,9370,9370,9370,9370,9371,9371,9371,9371,9371,...,9371,9371,9371,9371,9371,9371,9371,9371,9371,8856
02,8838,8836,8836,8836,8836,8838,8838,8838,8838,8838,...,8838,8838,8838,8838,8838,8838,8838,8838,8838,8389
03,9427,9425,9425,9425,9425,9427,9427,9427,9427,9427,...,9427,9427,9427,9427,9427,9427,9427,9427,9427,8956
04,8899,8897,8897,8897,8897,8899,8899,8899,8899,8899,...,8899,8899,8899,8899,8899,8899,8899,8899,8899,8390
05,9758,9756,9756,9756,9756,9758,9758,9758,9758,9758,...,9758,9758,9758,9758,9758,9758,9758,9758,9758,9236
06,9942,9939,9939,9939,9939,9942,9942,9942,9942,9942,...,9942,9942,9942,9942,9942,9942,9942,9942,9942,9496
07,10325,10322,10322,10322,10322,10325,10325,10325,10325,10325,...,10325,10325,10325,10325,10325,10325,10325,10325,10325,9820
08,9534,9532,9532,9532,9532,9534,9534,9534,9534,9534,...,9534,9534,9534,9534,9534,9534,9534,9534,9534,9054
09,10222,10220,10220,10220,10220,10222,10222,10222,10222,10222,...,10222,10222,10222,10222,10222,10222,10222,10222,10222,9767
10,10311,10310,10310,10310,10310,10311,10311,10311,10311,10311,...,10311,10311,10311,10311,10311,10311,10311,10311,10311,9825
11,10937,10931,10931,10931,10931,10937,10937,10937,10937,10937,...,10937,10937,10937,10937,10937,10937,10937,10937,10937,10473
12,9972,9970,9970,9970,9970,9972,9972,9972,9972,9972,...,9972,9972,9972,9972,9972,9972,9972,9972,9972,9560

In [147]:
## now we are going to compare each month and see which one has the higest number of accidents

listMonths = dataFrame.groupby(['Month']).count()
listMonths = listMonths.drop(listMonths.iloc[:, 1:32],axis = 1)

listMonths

       Accident_Index
Month
01               9371
02               8838
03               9427
04               8899
05               9758
06               9942
07              10325
08               9534
09              10222
10              10311
11              10937
12               9972

Now to see which of the months has more accidents #TODO create more of these

       Accident_Index
Month
01               9371
02               8838
03               9427
04               8899
05               9758
06               9942
07              10325
08               9534
09              10222
10              10311
11              10937
12               9972